:root{
    --white-colo: #ffff;
    --black-color: #0000;
    --green-color: #014E56;
    --light-color: #f67a7a;
    --blue-color: #79c7c8;
    --police-blue-color: #2C6269;
    --deep-green-color: #004047;
    --state-green-colorHEX: #012F34;
    --dark-green-color: #002529;
}